__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

venv/
.venv/

db.sqlite3
games.db
students.database
students.db

staticfiles/
media/
*.log

.env

.idea/
.vscode/
*.iml

dump.rdb
celerybeat-schedule
celerybeat.pid

.DS_Store
Thumbs.db
Desktop.ini